
<div id='content' class="container">
	<div class="row">
		<div class="span3 feeds">

		</div>
		<div class="span5 posts">

		</div>
		<div class="span4 post">

		</div>
	</div>
</div>

<script type="application/json" id="bootstrapped_stuff">
  <%= @feeds %>
</script>