<ul class="nav nav-list nav-justified">
  <% feeds.each(function(feed) { %>
    <li>
		<% console.log(feed) %>
      <a href="#feeds/<%= feed.id %>/entries"><%= feed.get("title")%></a>
    </li>
  <% }); %>
</ul>

