<div class="input-append">
  <input type="text" class="span2" placeholder="URL">
  <button type="submit" class="btn btn-primary">Add Feed</button>
</div>
<ul class="nav nav-pills">
  <% feeds.each(function(feed) { %>
    <li>
		<% console.log(feed) %>
      <a href="#feeds/<%= feed.id %>/entries"><%= feed.get("title")%></a>
    </li>
  <% }); %>
</ul>

