<button class="refresh btn">Refresh</button>

<ul class="nav nav-list">
  <% entries.each(function(entry) { %>
    <li>
      <a href="#feeds/<%= entry.get('feed_id') %>/entries/<%= entry.id %>"><%= entry.get('title') %></a>
    </li>
  <% }); %>
</ul>

<button class="refresh">Refresh</button>
